@mixin responsive ($breakpoint){
  @if $breakpoint == tab-land {
    @media screen and (max-width:1200px) {
      @content
    }
  };
  @if $breakpoint == tab-port {
    @media screen and (max-width:900px) {
      @content
    }
  };
  @if $breakpoint == phone {
    @media screen and (max-width:600px){
      @content;
    }
  }
}

@mixin fontStyle($size,$weight){
  font-family: inherit;
  font-size: $size;
  font-weight: $weight
}

@mixin shadowBox(){
  background: $dark-gray-2;
  box-shadow: 10px 10px 10px $dark-gray-3,
    -5px -5px 10px $light-gray;
}